header, .navbar {
  height: 80px;
  background: forestgreen;
  width: 100%;
  position :fixed;
  top: 0;
  z-index: 5;
}

.navbar-brand{
  font-size: 2rem;
  cursor: pointer;
}

.mb-br {
  display: none;
}

.navbar a, .navbar a:hover {
  color: white;
}

.container {
  text-align: center;
}

.contents {
  display: flex;
}

.top {
  color: white;
  background-image: url(top.jpg);
  background-size: cover;
  padding: 300px 0;
}

.top h1 {
  font-size: 3rem;
  letter-spacing: 5px;
  margin-bottom: 50px;
}

.about, .work, .contact {
  padding: 100px 0;
  display: flex;
}

.heading {
  padding-bottom: 100px;
}

.about .contents {
  align-items: center;
  justify-content: center;
}

.about img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.about-text {
  text-align: left;
  padding: 0 50px;
}

.work .contents {
  justify-content: space-around;
}

.work-img {
  width:  384px;
  height: 216px;
  border: 2px solid darkgray;
}

.work-item {
  height: 400px;
  display: flex;
  flex-flow:column;
  align-items: center;
  justify-content:space-around;
}

.btn {
  color: white;
  background: rgb(34, 139, 34, .7);
  border: rgb(34, 139, 34, .7);
}

.btn:hover {
  color: white;
  background: rgb(34, 139, 34);
  border: rgb(34, 139, 34);
}

.contact .btn {
  margin-top: 50px;
}

footer {
  height: 40px;
  border-top: 2px solid darkgray;
  color: darkgray;
  text-align: center;
  margin: 0 10%;
}

footer p {
  font-size: 0.75rem;
}

/* ハンバーガーボタン */
.hamburger {
  display : none;
  position: fixed;
  z-index : 3;
  right : 10px;
  top   : 20px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: 0.5s all;
  -moz-transition   : 0.5s all;
  transition        : 0.5s all;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : white;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}
.hamburger.active span:nth-child(2) {
  top: 16px;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}
.hamburger.active span:nth-child(3) {
  opacity: 0;
}

nav.globalMenuSp {
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: black;
  text-align: center;
  transform: translateY(-400%);
  transition: all 0.6s;
  width: 100%;
}

nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  background-color: forestgreen;
  list-style-type: none;
  padding: 0;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid white;
}

nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

nav.globalMenuSp ul li:hover{
  background-color: darkgray;
}

nav.globalMenuSp ul li a {
  display: block;
  font-size: 1.25rem;
  color: white;
  padding: 25.2px 0;
  text-decoration :none;
}

nav.globalMenuSp.active {
  transform: translateY(0%);
}

/* モーダルウィンドウ */

#modal-0, #modal-1 {
  background-color: white;
  display: none;
  padding: 20px 20px 80px 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  z-index: 10;
}

.modal-contents {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.modal-h2 {
  padding: 20px 0;
}

.modal-h3 {
  font-size: 1rem;
  margin: 30px 0;
}

.modal-img {
  width: 50%;
  border: 2px solid darkgray;
  margin: 0 30px;
}

.modal-text {
  width: 50%;
  display: flex;
  flex-flow:column;
  margin: 0 30px;
}

.modal-gitHub {
  text-decoration: none;
}

.head-border {
  display: flex;
  align-items: center;
}

.head-border:before,
.head-border:after {
  content: "";
  height: 2px;
  flex-grow: 1;
  background-color: black;
}

.head-border:before {
  margin-right: 10px;
}

.head-border:after {
  margin-left: 10px;
}

.modal-btn {
  background-color: #228b22;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 70px;
  right: 10px;
  transform: translate(-50%, 100%);
  text-align: center;
  line-height: 40px;
  height: 40px;
  width: 40px;
}

#overlay {
  background: rgba(0,0,0,0.5);
  display: none;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
}

/* レスポンシブデザイン */
/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
  .about .contents {
    flex-flow:column;
    justify-content: space-between;
  }

  .about img {
    margin-bottom: 50px;
  }

  .work {
    padding-bottom: 50px;
  }

  .work .contents {
    flex-flow:column;
    justify-content: space-between;
  }

  .work-item {
    margin-bottom: 50px;
  }

  .modal-contents {
    flex-flow:column;
    justify-content: space-between;
  }

  .modal-img, .modal-text {
    width: 70%;
  }
}

/* スマホ向けレイアウト */
@media all and (max-width: 670px) {
  .navbar-brand{
    font-size: 1.5rem;
    text-align: left;
  }

  .mb-br {
    display: inline;
  }

  .nav {
    display: none;
  }

  .hamburger {
    display : block;
  }

  .about img {
    height: 200px;
    width: 200px;
  }

  .work-img {
    height: 144px;
    width: 256px;
  }

  .top h1 {
    font-size: 2rem;
  }

  body p,.modal-text a  {
    font-size: 0.7rem;
  }
}
