header, .navbar {
  height: 80px;
  background: forestgreen;
  width: 100%;
  position :fixed;
  top: 0;
  z-index: 5;
}

.navbar-brand{
  font-size: 2rem;
  cursor: pointer;
}

.navbar a, .navbar a:hover {
  color: white;
}

.container {
  text-align: center;
}

.contents {
  display: flex;
}

.top {
  color: white;
  background-image: url(top.jpg);
  background-size: cover;
  padding: 300px 0;
}

.top h1 {
  font-size: 3rem;
  letter-spacing: 5px;
  margin-bottom: 50px;
}

.about, .work, .contact {
  padding: 100px 0;
  display: flex;
}

.heading {
  padding-bottom: 100px;
}

.about .contents {
  align-items: center;
  justify-content: center;
}

.about img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.about-text {
  text-align: left;
  padding: 0 50px;
}

.work .contents {
  justify-content: space-around;
}

.work-img {
  width:  384px;
  height: 216px;
  border: 2px solid darkgray;
}

.work-item {
  height: 400px;
  display: flex;
  flex-flow:column;
  align-items: center;
  justify-content:space-around;
}

.btn {
  color: white;
  background: rgb(34, 139, 34, .7);
  border: rgb(34, 139, 34, .7);
}

.btn:hover {
  color: white;
  background: rgb(34, 139, 34);
  border: rgb(34, 139, 34);
}

.contact .btn {
  margin-top: 50px;
}

footer {
  height: 40px;
  border-top: 2px solid darkgray;
  color: darkgray;
  text-align: center;
  margin: 0 100px;
}

footer p {
  font-size: 0.75rem;
}

/* Modal */

#modal-0, #modal-1 {
  background-color: #f7f7f7;
  display: none;
  padding: 20px 20px 80px 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  z-index: 10;
}

.modal-contents {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.modal-h2 {
  padding: 20px 0;
}

.modal-h3 {
  font-size: 1rem;
  margin: 30px 0;
}

.modal-img {
  width: 50%;
  border: 2px solid darkgray;
  margin: 0 30px;
}

.modal-text {
  width: 50%;
  display: flex;
  flex-flow:column;
  margin: 0 30px;
}

.modal-gitHub {
  text-decoration: none;
}

.head-border {
  display: flex;
  align-items: center;
}

.head-border:before,
.head-border:after {
  content: "";
  height: 2px;
  flex-grow: 1;
  background-color: black;
}

.head-border:before {
  margin-right: 10px;
}

.head-border:after {
  margin-left: 10px;
}

.modal-btn {
  background-color: #228b22;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 70px;
  right: 10px;
  transform: translate(-50%, 100%);
  text-align: center;
  line-height: 40px;
  height: 40px;
  width: 40px;
}

#overlay {
  background: rgba(0,0,0,0.5);
  display: none;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
}
